<h1>Chats</h1>
<button id="mostrarProd">Ver Chats</button>

<div class="input-group">
  <span class="input-group-text">Email y mensaje</span>
  <input type="email" aria-label="Email" class="form-control" id="mail">
  <input type="text"  aria-label="Mensaje" class="form-control" id="msj">
  <button id="enviarmsg">Enviar</button>
</div>


<table id="tablamensajes">
</table>
<script src="/socket.io/socket.io.js"></script> 
<script src="../js{{js}}"></script>  