<form class="row g-3">
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="pass">
  </div>
  <div class="col-8">
    <label for="inputAddress" class="form-label">Nombre</label>
    <input type="text" class="form-control" >
  </div>
  <div class="col-8">
    <label for="inputAddress2" class="form-label">Apellido</label>
    <input type="text" class="form-control"  >
  </div>
  <div class="col-8">
    <button type="submit" class="btn btn-primary" id="login">Ingresar</button>
  </div>
</form>
<script src="../js{{js}}"></script>  